* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto&display=swap');

:root {
    --main-color: rgb(17, 17, 17);
    --secondary-main-color: #000000c2;
    --red-color: rgb(255, 0, 0);
    --white-color: rgb(255, 255, 255);
    --lightgrey-color: rgba(201, 195, 195, 0.779);
}

html {
    height: 200vh;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: var(--main-color);
    color: var(--white-color);

    position: relative;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 500;
    transition: .5s;
    padding: 0 40px;
}


a:nth-child(1) {
    color: var(--white-color);
}

a {
    color: var(--lightgrey-color);
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a img {
    width: 110px;
}

.mainMenu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 300px 0 0;
}

.mainMenu a {
    margin: 0 12.5px 0 12.5px;
}

.sideMenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.sideMenu img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.sideMenu div {
    display: flex;
    align-items: center;
}

.sideMenu div img {
    filter: none;
    border-radius: 5px;
}

.sideMenu div img:nth-child(1) {
    width: 32.5px;
    height: 32.5px;
}

.sideMenu div img:nth-child(2) {
    width: 12.5px;
    height: 12.5px;

}

.sideMenu img,
.sideMenu a,
.sideMenu div {
    margin: 0 7.5px;
    cursor: pointer;
}

#triangle {
    filter: invert(100%);
    rotate: 180deg;
    transition: .5s;
}

#triangle:hover {
    rotate: 0deg;
    transition: .5s;
}

/*      POPUP UNDER THIS LINE        */

.popUpContainer {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5px;
    background: var(--secondary-main-color);
    width: 200px;
    height: 370px;
    position: absolute;
    top: 75px;
    right: 0;
    visibility: hidden;
    z-index: 501;
}

.popUpContainer .imagesAndText {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.popUpContainer .imagesAndText span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 6.5px 0;
    color: var(--lightgrey-color);
}

.popUpIconImage {
    filter: invert(70%) !important;
    /*       little cheating LOL          */
}


.imagesAndText .signOut {
    height: 15%;
    width: 100%;
    color: var(--lightgrey-color);
    border-top: .1px solid var(--lightgrey-color);
}


.signOut a span {
    margin: 11px 15% !important;
    cursor: pointer;
}

.imagesAndText span:hover {
    cursor: default;
}

.imagesAndText span h5:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--lightgrey-color);
}




/*      NOTIFICATION POPUP UNDER THIS LINE        */


.notificationpopUpContainer {
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-main-color);
    position: absolute;
    top: 75px;
    left: -190px;
    border-top: 1.5px solid var(--lightgrey-color);
    border-left: .1px solid var(--lightgrey-color);
    border-bottom: .1px solid var(--lightgrey-color);
    border-right: .1px solid var(--lightgrey-color);
}

.notificationpopUpContainer h5 {
    color: var(--lightgrey-color);
}

#notificationTriangle {
    position: absolute;
    filter: invert(70%) !important;
    top: -12px;
    right: 2.5px;
    width: 12.5px;
    height: 12.5px;
    rotate: 180deg;
}


/*        BACKGROUND VIDEO UNDER THIS LINE         */

.mainTrailerBackgroundContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    position: relative;

}

.mainVideo {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
}


/*         DETAILES ABOUT THE FILM IN THE BACKGROUND                 */

.textAndPlayAndMoreContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 45px;
}

.netflixIconAndText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: var(--lightgrey-color);
}

.textAndPlayAndMoreContainer span img {
    width: 25px;
    height: 25px;
}

.textAndPlayAndMoreContainer h1 {
    font-size: 60px;
    text-transform: uppercase;
}

.textAndPlayAndMoreContainer p {
    font-size: 15px;
    margin-top: 15px;
}

.textAndPlayAndMoreContainer div {
    display: flex;
    margin-top: 15px;
}

.textAndPlayAndMoreContainer div span {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px 0 5px;
}

.textAndPlayAndMoreContainer div span:nth-child(1) {
    background: var(--white-color);
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: black;
    padding: 0 10px;
}

.textAndPlayAndMoreContainer div span:nth-child(2) {
    background: var(--lightgrey-color);
    width: 150px;
    height: 40px;
    border-radius: 5px;
}

.textAndPlayAndMoreContainer div span:nth-child(2) img {
    filter: invert(100%);
}



/*     RIGHTSIDE FROM THIS SECTION UNDER THIS LINE        */

.refreshAndAgeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    margin-top: 150px;
}

.refreshAndAgeContainer span {
    display: flex;
    align-items: center;
    width: 25%;
    height: 30px;
    margin: 0 5px 0 5px;
}

.refreshAndAgeContainer span:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--white-color);

}

.refreshAndAgeContainer span:nth-child(2) {
    border-left: 3px solid var(--white-color);
    padding-left: 10px;
}

.refreshAndAgeContainer img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
}



/*    IMAGES GALLERY UNDER THIS LINE    */



.myList {
    width: 100%;
    height: 100%;
    margin-top: -150px;
    padding: 0 0 0 0px;
}

.myList h3 {
    color: var(--lightgrey-color);
    padding-left: 10px;
    margin: 0 0 20px 20px
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 17.5%;
}

.slides {
    display: flex;
    width: fit-content;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 250px;
    height: 150px;
    margin: 0 3px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: var(--lightgrey-color);
    color: white;
    border: none;
    cursor: pointer;
    height: 150px;
    opacity: 0;
}

.buttonHover:hover {
    opacity: 1;
    transition: .5s;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

button img {
    height: 50px;
}

.prev img {
    rotate: 180deg;
    filter: invert(100%);
}

.next {
    right: 20px;
}

.next img {
    filter: invert(100%);
}

/*        HOVER OR BEFOR/AFTER UNDER THIE LINE          */

.hoverAfterContainer {
    position: relative;
}

.coverSpanForHover {
    background: var(--main-color);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: .5s ease-in-out;
    margin: -50px 0 0 0;
}

.coverSpanForHover:hover {
    opacity: 1;
}